.homepage{
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100%;

    @media screen and (max-width:1024px) {
        flex-direction: column;
        gap: 0px;
    }

    .left, .right{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left{
        flex-direction: column;
        gap: 16px;
        text-align: center;

        h1{
            font-size: 100px;
            background: linear-gradient(to right, #ff0000, #cfec10);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            @media screen and (max-width:1288px) {
                font-size: 60px;
            }
        }
        h2{
            font-size: 36px;
            
            @media screen and (max-width:1280px) {
                font-size: 27px;
            }
        }
        h3{
            font-weight: 400;

            /* @media screen and (max-width:1024px) {
                flex-direction: column;
                gap: 0px;
            } */
        }
        .getStarted{
            padding: 10px 20px;
            font-weight: 500;
            background-color: #ff0000;
            color: white;
            border-radius: 20px;
            font-size: 16px;
            margin-top: 20px;
            transition: background-color 0.99s ease;

            &:hover{
                background-color: white;
                color: #ff0000;
            }
        }
    }

    .right{
        height: 100%;

        .imgContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #140e2d;
            border-radius: 50px;
            width: 80%;
            height: 50%;
            position: relative;

            .bgContainer{
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50px;

                .bg{
                    background-image: url("/bg.png");
                    opacity: 0.2;
                    width: 200%;
                    height: 100%;
                    background-size: auto 100%;
                    animation: slideBg 8s ease-in-out infinite alternate;
                }                
            }

            .bot{
                height: 100%;
                width: 100%;
                object-fit: contain;
                animation: bot 3s ease-in-out infinite alternate;
            }

            .chat{
                position: absolute;
                bottom: -30px;
                right: -50px;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 20px;
                background-color: #2c2937;
                border-radius: 10px;

                @media screen and (max-width:1024px) {
                    display: none;
                }

                @media screen and (max-width:1280px) {
                    right: 0;
                }

                .chatBot{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    .orbital{
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.07;
        animation: rotateOrbital 60s linear infinite;
        z-index: -1;
    }

    .terms{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        @media screen and (max-width: 1024px) {
           bottom: -50px;
        }

        img{
            width: 40px;
            height: 40px;
        }

        .links{
            display: flex;
            gap: 10px;
            color: #888;
            font-size: 12px;
        }
    }
}

@keyframes rotateOrbital{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(60deg);
    }
}

@keyframes bot{
    0%{
        transform: scale(1) rotate(0deg);
    }

    100%{
        transform: scale(1.1) rotate(-5deg);
    }
}

@keyframes slideBg{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }
}